<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">
	<display-name>GrubMeNow Web Application</display-name>


	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<jsp-file>/dashboard/dashboard.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard/console</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FoodItemDashboardServlet</servlet-name>
		<jsp-file>/dashboard/foodItem.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>FoodItemDashboardServlet</servlet-name>
		<url-pattern>/dashboard/fooditem</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddFoodItemDashboardServlet</servlet-name>
		<servlet-class>com.grubmenow.service.dashboard.servlet.AddFoodItemDashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddFoodItemDashboardServlet</servlet-name>
		<url-pattern>/dashboard/fooditem-add</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ProviderDashboardServlet</servlet-name>
		<jsp-file>/dashboard/provider.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProviderDashboardServlet</servlet-name>
		<url-pattern>/dashboard/provider</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddProviderDashboardServlet</servlet-name>
		<servlet-class>com.grubmenow.service.dashboard.servlet.AddProviderDashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddProviderDashboardServlet</servlet-name>
		<url-pattern>/dashboard/provider-add</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FoodItemOfferDashboardServlet</servlet-name>
		<jsp-file>/dashboard/foodItemOffer.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>FoodItemOfferDashboardServlet</servlet-name>
		<url-pattern>/dashboard/fooditemoffer</url-pattern>
	</servlet-mapping>

    <servlet>
      	<servlet-name>SearchFoodItemsApi</servlet-name>
      	<servlet-class>com.grubmenow.service.api.SearchFoodItems</servlet-class>
     </servlet>
     
     <servlet-mapping>
        <servlet-name>SearchFoodItemsApi</servlet-name>
        <url-pattern>/searchFoodItems</url-pattern>
    </servlet-mapping>
</web-app>
