<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">
	<display-name>GrubMeNow Web Application</display-name>
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<jsp-file>/dashboard/dashboard.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard/console</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FoodItemDashboardServlet</servlet-name>
		<jsp-file>/dashboard/foodItem.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>FoodItemDashboardServlet</servlet-name>
		<url-pattern>/dashboard/fooditem</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddEditFoodItemActionDashboardServlet</servlet-name>
		<servlet-class>com.grubmenow.service.dashboard.servlet.AddEditFoodItemActionDashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddEditFoodItemActionDashboardServlet</servlet-name>
		<url-pattern>/dashboard/add-edit-fooditem-action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddEditProviderActionDashboardServlet</servlet-name>
		<servlet-class>com.grubmenow.service.dashboard.servlet.AddEditProviderActionDashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddEditProviderActionDashboardServlet</servlet-name>
		<url-pattern>/dashboard/add-edit-provider-action</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>AddEditFoodItemOfferActionDashboardServlet</servlet-name>
		<servlet-class>com.grubmenow.service.dashboard.servlet.AddEditFoodItemOfferActionDashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddEditFoodItemOfferActionDashboardServlet</servlet-name>
		<url-pattern>/dashboard/add-edit-fooditemoffer-action</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessCodeDashboardServlet</servlet-name>
		<jsp-file>/dashboard/accessCode.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>AccessCodeDashboardServlet</servlet-name>
		<url-pattern>/dashboard/accesscode</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProviderDashboardServlet</servlet-name>
		<jsp-file>/dashboard/provider.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProviderDashboardServlet</servlet-name>
		<url-pattern>/dashboard/provider</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FoodItemOfferDashboardServlet</servlet-name>
		<jsp-file>/dashboard/foodItemOffer.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>FoodItemOfferDashboardServlet</servlet-name>
		<url-pattern>/dashboard/fooditemoffer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddEditFoodItemForm</servlet-name>
		<jsp-file>/dashboard/addEditFoodItemForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddEditFoodItemForm</servlet-name>
		<url-pattern>/dashboard/add-edit-fooditem-form</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>AddNewFoodItemForm</servlet-name>
        <jsp-file>/dashboard/addNewFoodItemForm.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddNewFoodItemForm</servlet-name>
        <url-pattern>/dashboard/add-new-fooditem-form</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>AddEditProviderForm</servlet-name>
		<jsp-file>/dashboard/addEditProviderForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddEditProviderForm</servlet-name>
		<url-pattern>/dashboard/add-edit-provider-form</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddEditFoodItemOfferForm</servlet-name>
		<jsp-file>/dashboard/addEditFoodItemOfferForm.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddEditFoodItemOfferForm</servlet-name>
		<url-pattern>/dashboard/add-edit-fooditemoffer-form</url-pattern>
	</servlet-mapping>

</web-app>
