html, body{
	margin:0;
	padding:0;
	height:100%;
	min-height:620px;
}

.docMain {
     position:relative;
     min-height:100%;     
}

.bodyMain {
     padding-bottom: 44px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.logoImage {
     margin: 20px 0px;
}

.formBox {
     padding: 15px;
     background: rgba(0, 0, 0, 0.7);
     border-radius: 5px;
     display: inline-block;
     margin: 0px 0 40px;
}

.btnGo, .btnGo:hover, .btnGo:focus {
     background-color: #FF8246;
     color: white;
     border: 1px solid #FF8246;
     margin: 0px 7px;
     outline: none;
}

@
-ms-viewport {
     width: device-width;
}

.formElem {
     border: 1px solid #000000;
     margin: 0px 14px 0px 0px;
     color: #000000;
     font-weight: bold;
}

.formElem:focus {
     border: 1px solid #000000;
}

.formContainer {
     background-image: url("img/bg-grid.png");
     background-repeat: no-repeat;
     background-position: center;
     height: 350px;
     background-size: 100%;
}

.filler {
     height: 150px;
}

.fillerxs {
     height: 70px;
}

.thumbnail {
     border: 5px solid #FFD446;
}

.spacer {
     margin-top: 35px;
}

.redBorder {
     border: 3px solid red;
}

.rest-sel {
     margin: 10px 20px;
}

.restIcon {
     float: right;
}

.tableHeader {
     text-decoration: underline;
     border-bottom: 1px solid #ddd;
     margin-bottom: 10px;
}

.qtyBox {
     width: 50px;
     margin-left: 5px;
     padding: 2px; 
}

.foodTitle {
     line-height: 24px;
     font-size: 18px;
}

.foodPrice{
     font-size: 14px;
     color: #444;
}

.foodDesc {
     font-size: 13px;
}

.foodItemOfferDesc {
     font-size: 12px;
}

.foodItemOfferTags {
     font-size: 11px;
     line-height: 16px;
     border:1px solid #123960;
     color: #EEE;
     background-color: #4D82B6;
     border-radius: 3px;
     padding-left: 2px;
     padding-right: 2px;
     padding-top: 1px;
     padding-bottom: 1px;
     margin-left: 4px;
}

.foodItemOfferLayout {
	padding-left: 0px; 
	padding-right: 5px;
}

.panel-heading {
     background-color: #0A549C !important;
     color: #FFFFFF;
     cursor: pointer;
}

.panelLink {
     color: #FFFFFF !important;
}

.faq {
     background-color: #DDDDDD !important;
     color: #000000;
     cursor: pointer;
}

.atcButton {
     border-top: 1px solid #E1EEF5;
     padding: 10px 0px 0px;
}

.showhideBtn {
     margin-left: -14px;
     padding-left: 0px !important;
}

.optionsText {
     color: #F04E00;
     font-weight: bold;
}

.distanceInfoText {
     color: #CCC;
     float: right;
     font-size: 13px;
}

.feedbackQL {
     font-size: 16px;
     margin: 20px 0px;
}

.feedbackInput {
     width: 300px;
     display: inline;
     margin: 10px 0px;
}

.navLineBtn {
     padding: 4px 0px;
}

.tableCtr {
     padding: 0px !important;
     margin: 0px !important;
}

.modal-content {
     height: 400px;
}

.navHolder {
     width: 440px;
     margin: 0px auto;
}

@media ( max-width : 480px) {
     .navHolder {
          width: 100%;
     }
}

.navbar {
     min-height: 42px
}

.navbar-nav>li>a {
     color: #FFFFFF !important;
     text-shadow: none;
     padding: 10px 20px !important;
}

.navbar-default, .navbar-collapse {
     background-color: #0A549C !important;
     background-image: none !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
     .navbar-default .navbar-nav>.active>a:focus {
     color: #FFFFFF;
     background-color: #65A0D9 !important;
     background-image: none !important;
}

.navbar-default .navbar-toggle {
     border-color: #0A549C !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
     {
     background-color: #65A0D9 !important;
     background-image: none !important;
}

.navbar-default .navbar-toggle .icon-bar {
     background-color: #FFFFFF !important;
}

.checkoutText {
     color: #000000;
     font-size: 14px;
     line-height: 26px;
}

.checkoutTitle {
     color: #000000;
     font-size: 14px;
     line-height: 26px;
     font-weight: bold;
     padding: 6px 0px;
     border-top: 1px solid #ddd;
}

.checkoutHeader {
     text-decoration: underline;
     font-weight: bold;
}

.orderDetailsHeader {
     height: 30px;
}

.coName {
     color:#F04E00;
     padding: 0px 6px;  
}

.checkoutItem {
     padding-top: 3px;
     padding-bottom: 3px;
}

.orderDetails {
     overflow: hidden;
     margin: 0px 0px 20px 0px;
     border: 1px solid #999;
     border-radius: 6px;
}

.checkoutFormElem {
     width: 200px;
     font-weight: bold;
}

.coFormElem {
     padding: 4px 0px;
}

.coFormLabelsDiv {
     float: left;
     line-height: 34px;
     width: 220px;
}

.coSpacer {
     margin: 20px 0px;
}

.checkoutFormCVC {
     width: 60px;
}

.checkoutFormYY {
     width: 90px;
     float: left;
}

.checkoutFormMM {
	 float: left;
     width: 90px;
     margin-right: 10px;
}

.coExpiryLabel {
     margin-top: 10px
     
}

.coExpiry {
     float: left;
}

.checkoutFormSlash {
     float: left;
     font-weight: bold;
     width: 14px;
     font-size: 18px;
}

.checkoutFormCC {
     width: 160px;
}

.invitationTxt {
     font-weight: bold;
     font-size: 16px;
     color: #F04E00;
     text-align: justify;
     margin: 20px 0px;
}

.bold {
    font-weight: bold;
}

.leftAlign {
	text-align: left;
}

.hdiw {
     cursor: pointer;
     color: #0A549C;
}

.backButton {
     cursor: pointer;
}

.noBold {
     font-weight: bold;
     width: 400px;
}

.coPaymentSel {
     width: 200px;
}

.spinner {
     background-image: url("loading.gif");
     background-repeat: no-repeat;
     background-position: center;
     height: 102px;
     margin: 40px 0px;
}

.payment-errors {
     color: red;
     text-decoration: underline;
}

.orderConfirmation {
     color: #F04E00;
     font-size: 18px;
     margin: 20px 0px;
}

.truncateText {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.btnCO, .btnCO:hover, .btnCO:focus {
     background-color: #FF8246;
     color: white;
     border: 1px solid #FF8246;
     margin: 20px 0px;
     outline: none;
}

.hdiwImage {
     margin: 0px auto;
}

#footer {
     padding: 5px;
     color: #666666;
     font-size: 12px;
     bottom: 0px;
     position:absolute;
     height: 44px;
}

#footer>div>a {
     color: #F04E00 !important;
     text-shadow: none;
}

textarea {
     resize: none;
}

.cuElem {
     margin: 0px !important;
}

.borderFooter {
     border-top: 1px solid #DDDDDD;
}

.thumbnail>a>img {
     width: 245px;
     height: 183px;
}

.thumbnail-small>img {
     width: 100%;
     height: 100%;
}

.sup {
    vertical-align: super;
    font-size: smaller;
}

.tooltip-inner {
    max-width: 240px;
    /* If max-width does not work, try using width instead */
    width: 200px;
}