body{
	font-family: 'Open Sans', sans-serif;
}

.logoImage {
     margin: 20px 0px;
}

.formBox {
     padding: 15px;
     background: rgba(0, 0, 0, 0.7);
     border-radius: 5px;
     display: inline-block;
}

.btnGo, .btnGo:hover, .btnGo:focus {
     background-color: #FF8246;
     color: white;
     border: 1px solid #FF8246;
     margin: 0px 7px;
     outline: none;
}

@
-ms-viewport {
     width: device-width;
}

.formElem {
     border: 1px solid #000000;
     margin: 0px 14px 0px 0px;
     color: #000000;
     font-weight: bold;
}

.formElem:focus {
     border: 1px solid #000000;
}

.formContainer {
     background-image: url("img/bg-grid.png");
     background-repeat: no-repeat;
     background-position: center;
     height: 350px;
     background-size: 100%;
}

.filler {
     height: 150px;
}

.fillerxs {
     height: 90px;
}

.thumbnail {
     border: 5px solid #FFD446;
}

.spacer {
     margin-top: 35px;
}

.redBorder {
     border: 3px solid red;
}

.rest-sel {
     margin: 10px 20px;
}

.restIcon {
     float: right;
}

.tableTitle {
     font-weight: bold;
     text-decoration: underline;
}

.qtyBox {
     width: 50px;
     margin-right: 15px;
     padding: 2px; 
}

.foodTitle {
     line-height: 24px;
}

.foodDesc {
     font-size: 12px;
}

.foodItemOfferDesc {
     font-size: 10px;
}

.panel-heading {
     background-color: #0A549C !important;
     color: #FFFFFF;
     cursor: pointer;
}

.panelLink {
     color: #FFFFFF !important;
}

.atcButton {
     border-top: 1px solid #E1EEF5;
     padding-top: 10px;
}

.showhideBtn {
     margin-left: -14px;
}

.optionsText {
     color: #F04E00;
     font-weight: bold;
}

.feedbackQL {
     font-size: 16px;
     margin: 20px 0px;
}

.feedbackInput {
     width: 600px;
     display: inline;
     margin: 10px 0px;
}

.navLineBtn {
     padding: 4px 0px;
}

.tableCtr {
     padding: 0px !important;
     margin: 0px !important;
}

.modal-content {
     height: 400px;
}

@media ( min-width :768px) {
     .navbar-nav {
          padding-left: 35%;
     }
}

.navbar {
     min-height: 42px
}

.navbar-nav>li>a {
     color: #FFFFFF !important;
     text-shadow: none;
     padding: 10px 20px !important;
}

.navbar-default, .navbar-collapse {
     background-color: #0A549C !important;
     background-image: none !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
     .navbar-default .navbar-nav>.active>a:focus {
     color: #FFFFFF;
     background-color: #65A0D9 !important;
     background-image: none !important;
}

.navbar-default .navbar-toggle {
     border-color: #0A549C !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
     {
     background-color: #65A0D9 !important;
     background-image: none !important;
}

.navbar-default .navbar-toggle .icon-bar {
     background-color: #FFFFFF !important;
}

.checkoutText {
     color: #000000;
     font-size: 14px;
     line-height: 26px;
     width: 160px;
     float: left;
}

.checkoutTitle {
     color: #000000;
     font-size: 14px;
     line-height: 26px;
     font-weight: bold;
}

.checkoutHeader {
     color: #FFFFFF;
     font-size: 14px;
     font-weight: bold;
     line-height: 26px;
     background-color: #0A549C;
     border: 1px solid #0A549C;
}

.orderDetailsHeader {
     height: 30px;
}

.checkoutItem {
     border: 1px solid #0A549C;
     padding-top: 3px;
     padding-bottom: 3px;
}

.orderDetails {
     overflow: hidden;
     margin: 0px 0px 20px 0px;
}

.checkoutFormElem {
     width: 200px;
     font-weight: bold;
}

.coFormLabels {
     float: left;
     line-height: 34px;
     width: 160px;
     margin: 8px 0px 0px 0px;
}

.coFormLabelsDiv {
     float: left;
     line-height: 34px;
     width: 220px;
}

.coSpacer {
     margin: 20px 0px;
}

.checkoutFormCVC {
     width: 60px;
}

.checkoutFormYY {
     width: 90px;
     float: left;
}

.checkoutFormMM {
	 float: left;
     width: 90px;
     margin-right: 10px;
}

.coExpiryLabel {
     margin-top: 10px
     
}

.coExpiry {
     float: left;
}

.checkoutFormSlash {
     float: left;
     font-weight: bold;
     width: 14px;
     font-size: 18px;
}

.checkoutFormCC {
     width: 160px;
}

.invitationTxt {
     font-weight: bold;
     font-size: 16px;
     color: #F04E00;
     text-align: justify;
     margin: 20px 0px;
}

.hdiw {
     cursor: pointer;
     color: #0A549C;
}

.backButton {
     cursor: pointer;
}

.noBold {
     font-weight: bold;
     width: 400px;
}

.coPaymentSel {
     width: 200px;
}

.spinner {
     background-image: url("loading.gif");
     background-repeat: no-repeat;
     background-position: center;
     height: 102px;
     margin: 40px 0px;
}

.payment-errors {
     color: red;
     text-decoration: underline;
}

.orderConfirmation {
     color: #F04E00;
     font-size: 18px;
     text-decoration: underline;
     margin: 20px 0px;
}

.truncateText {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.btnCO, .btnCO:hover, .btnCO:focus {
     background-color: #FF8246;
     color: white;
     border: 1px solid #FF8246;
     margin: 20px 0px;
     outline: none;
}

.hdiwImage {
     margin: 0px auto;
}