<div id="fb-root"></div>
<div class="rest-sel" ng-controller="CheckoutCtrl">

    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
            <div class="checkoutText" ng-show="FB.name">Welcome {{FB.name}}</div>
            <div class="checkoutText">Your order details:</div>
            <div class="orderDetails">
                <div class="orderDetailsHeader">
                    <div class="col-xs-7 checkoutHeader">Item</div>
                    <div class="col-xs-2 checkoutHeader">Qty</div>
                    <div class="col-xs-3 checkoutHeader">Price</div>
                </div>
                <div ng-repeat="order in finalOrder.items">
                    <div class="col-xs-7 checkoutItem">{{order.orderName}}</div>
                    <div class="col-xs-2 text-right checkoutItem">{{order.orderQty}}</div>
                    <div class="col-xs-3 text-right checkoutItem">${{order.orderPrice/100 | number:2 }}</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="checkoutText">Taxes: ${{finalOrder.tax/100 | number:2 }}</div>
            <div class="checkoutText">Order Total: ${{finalOrder.totalPrice/100 | number:2 }}</div>
            <div class="checkoutText">Pick up date and time: COMING SOON</div>
            <div class="checkoutText">Pick up address: COMING SOON</div>
            <p />
            <div ng-show="!FB.name && !FB.notRecognized" class="col-xs-12 text-center">Figuring out which button to show</div>
            <div ng-show="FB.name" class="">
                <form class="form-horizontal" id="payment-form">
                    <div class="payment-errors">{{stripe.error.message}}</div>
                    <div class="coFormElem">
                        <span class="coFormLabels">Name</span> <input type="text" class="form-control checkoutFormElem" id="coName" value={{FB.name}}>
                    </div>
                    <div class="coFormElem">
                        <span class="coFormLabels">Email</span> <input type="email" class="form-control checkoutFormElem" id="coEmail">
                    </div>
                    <div class="coFormElem">
                        <span class="coFormLabels">Phone (Optional)</span> <input type="text" class="form-control checkoutFormElem" id="coPhone">
                    </div>
                    <div class="coSpacer"></div>
                    <div class="coFormElem">
                        <span class="coFormLabels">Card Number</span> <input type="text" class="form-control checkoutFormElem checkoutFormCC" data-stripe="number">
                    </div>
                    <div class="coFormElem">
                        <span class="coFormLabels">CVC</span> <input type="text" class="form-control checkoutFormCVC" size="4" data-stripe="cvc">
                    </div>
                    <div class="coFormElem coExpiry">
                        <span class="coFormLabels coExpiryLabel">Expiration (MM/YYYY)</span> 
                        <input type="text" class="form-control checkoutFormMM" size="2" data-stripe="exp-month">
                        <div class="checkoutFormSlash">/</div>
                        <input type="text" class="form-control checkoutFormYY" size="4" data-stripe="exp-year">
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <input type="button" class="btn btn-primary" ng-click="makePayment()" ng-disabled="stripe.disableSubmit" id="makePaymentButton" value="Pay Online and place order" />
                </form>
            </div>

            

                    <input type="button" class="btn btn-primary" ng-click="placeOrder()" id="placeOrderButton" value="Place Order for COD" />
            <div ng-show="FB.notRecognized" class="col-xs-12 text-center">
                <h4>Please login via Facebook to place the order.</h4>
                <p />
                <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
            </div>
        </div>
    </div>