<div id="fb-root"></div>
<div ng-controller="CheckoutCtrl">
    <div ng-show="!fbLoaded" class="spinner"></div>
    <div ng-show="fbLoaded" class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="checkoutTitle text-center" ng-show="FB.name"><h4 class="coName">Welcome {{FB.name}}</h4></div>
            <div class="checkoutTitle">Your order from <u>{{finalOrder.provider.providerName}}</u>:</div>
            <div class="orderDetails">
                <div>
                    <div class="col-xs-6 checkoutItem checkoutHeader">
                        Item
                    </div>
                    <div class="col-xs-3 checkoutItem checkoutHeader text-right">
                        Quantity
                    </div>
                    <div class="col-xs-3 checkoutItem checkoutHeader text-right">
                        Price
                    </div>
                </div>
                <div ng-repeat="order in finalOrder.items">
                    <div class="col-xs-6 checkoutItem">{{order.orderName}}</div>
                    <div class="col-xs-3 text-right checkoutItem">{{order.orderQty}}</div>
                    <div class="col-xs-3 text-right checkoutItem">${{order.orderPrice/100 | number:2 }}</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="checkoutText col-sm-4">Taxes: </div><div class="col-sm-8 checkoutText bold">${{finalOrder.tax/100 | number:2 }}</div>
            <div class="clearfix"></div>
            <div class="checkoutText col-sm-4">Order Total: </div><div class=" col-sm-8 checkoutText bold">${{finalOrder.totalPrice/100 | number:2 }}</div>
            <div class="clearfix"></div>
            <div class="checkoutText col-sm-4">Pick up date and time: </div><div class="col-sm-8 checkoutText bold">{{finalOrder.pickupTime}}</div>
            <div class="clearfix"></div>
            <div class="checkoutText col-sm-4">Pick up address: </div>
                <div class="col-sm-8 checkoutText bold" ng-show="!FB.notRecognized">
                    <a target="_blank" href="{{finalOrder.restLocationUrl}}">
                        {{finalOrder.restLocation}}
                    </a>
                </div>
                <div class="col-sm-8 checkoutText bold" ng-show="FB.notRecognized">Will be displayed after you Log In</div>
            <div class="clearfix"></div>
            <div ng-show="!FB.notRecognized && finalOrder.chefPhone != null">
                <div class="checkoutText col-sm-4">Chef's Phone: </div>
                <div class="col-sm-8 checkoutText bold" >{{finalOrder.chefPhone}}</div>
            </div>
            <div class="clearfix"></div>
            <p />
            <div ng-show="customer.customerLoaded && !order.processing && !order.processed"  class="">
                <form class="form-horizontal" id="payment-form">
                    
                    <div class="checkoutTitle">Please enter your contact information below:</div>
                    <div class="coFormElem">
                        <div class="col-sm-4">Name</div>
                        <div class="col-sm-8"> 
                            <input type="text" class="form-control checkoutFormElem" id="coName" ng-model=customer.customerName>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="coFormElem">
                        <div class="col-sm-4">Email</div> 
                        <div class="col-sm-8">
                            <input type="email" class="form-control checkoutFormElem" id="coEmail" ng-model=customer.customerEmailId>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="coFormElem">
                        <div class="col-sm-4">Phone (Optional)</div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control checkoutFormElem" id="coPhone" ng-model=customer.customerPhoneNumber>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="coSpacer"></div>
                    <div class="checkoutTitle">Please enter your payment information below:</div>
                    <div class="col-sm-4">Payment method:</div>
                    <div class="checkoutText col-sm-8">
                        <select class="form-control coPaymentSel" id="inputPayment" ng-model="payment.mode">
                            <option ng-selected="finalOrder.provider.cashOnDeliverPaymentAccepted == true" ng-disabled="finalOrder.provider.cashOnDeliverPaymentAccepted == false" value=cash>Cash on Pickup</option>
                          <!--  <option ng-selected="finalOrder.provider.onlinePaymentAccepted == true" ng-disabled="finalOrder.provider.onlinePaymentAccepted == false" value=card>Credit Card</option> -->
                        </select>
                    </div>
                    <div class="clearfix"></div>
            		
                    <div ng-show="payment.mode == 'card'">
                        <div class="payment-errors text-warn"><strong>{{stripe.error.message}}</strong></div>
                        
                        <br/>
                        <div class="coFormElem">
                            <span class="coFormLabels"></span> <img class="checkoutFormCC" src="img/credit_card_logo.png"/>
                        </div>
                        
                        <div class="coFormElem">
                            <span class="coFormLabels">Card Number</span> <input type="text" class="form-control checkoutFormElem checkoutFormCC" data-stripe="number">
                        </div>
                        <div class="clearfix"></div>
                        <div class="coFormElem">
                            <span class="coFormLabels">CVC</span>
                            <div class="coFormLabelsDiv"> 
                                <input type="text" class="form-control checkoutFormCVC" size="4" data-stripe="cvc">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="coFormElem coExpiry">
                            <span class="coFormLabels coExpiryLabel">Expiration (MM/YYYY)</span>
                            <div class="coFormLabelsDiv">
                                <select class="form-control checkoutFormMM" data-stripe="exp-month">
		                            <option value=1>Jan</option>
                            		<option value=2>Feb</option>
                            		<option value=3>Mar</option>
                            		<option value=4>Apr</option>
                            		<option value=5>May</option>
                            		<option value=6>Jun</option>
                            		<option value=7>Jul</option>
                            		<option value=8>Aug</option>
                            		<option value=9>Sep</option>
                            		<option value=10>Oct</option>
                            		<option value=11>Nov</option>
                            		<option value=12>Dec</option>
                                </select>
                                <div class="checkoutFormSlash">/</div>
                                <select class="form-control checkoutFormYY" data-stripe="exp-year">
                                	<option data-ng-repeat="i in [2015,2016,2017,2018,2019,2010]" value={{i}}>{{i}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
	                    
						<div ng-show="order.error" class="col-xs-12 text-center alert alert-danger"> {{order.error_message}}</div>
							            		
                        <div class="text-right">
                            <input type="button" class="btn btnCO" ng-click="makePayment()" ng-disabled="stripe.disableSubmit" id="makePaymentButton" value="Pay ${{finalOrder.totalPrice/100 | number:2 }} and Place Order" />
                        </div>
                    </div>
                    <div ng-show="payment.mode == 'cash'">
                
	                    <div ng-show="order.error" class="col-xs-12 text-center alert alert-danger"> {{order.error_message}}</div>
	            		
                        <div class="text-right btnCtr">
                            <input type="button" class="btn btnCO" ng-click="placeOrder()" id="placeOrderButton" value="Place Order and Pay ${{finalOrder.totalPrice/100 | number:2 }} on Pickup" />
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="(!customer.customerLoaded && !FB.notRecognized) || order.processing" class="spinner">
            </div>
            <div ng-show="FB.notRecognized" class="col-xs-12 text-center">
                <h4>Please login via Facebook to place the order.</h4>
                <p />
                <div class="fb-login-button" data-max-rows="1"
                    data-scope="public_profile,email,user_friends" data-size="large" data-show-faces="false" data-auto-logout-link="false">
                </div>
                <sup><sup><sup>
                   <img
                       alt="Why Log In?"
                       src="img/icon_question.png"
                       data-toggle="tooltip"
          tooltip="Please log in so that we can share chef's contact details with you. We will share your contact details with the chef so that they can contact you in case of any questions on the order. We do not share your data with any 3rd party."
          tooltip-placement="left"/>
                </sup></sup></sup>
            </div>
            <div ng-show="order.processed" class="col-xs-12 text-center checkoutTitle orderConfirmation">
                Thank you for placing your order. We have emailed you the order confirmation. Your Order Id is {{order.orderId}}
            </div>
            
        </div>
    </div>
    </div>
