<!DOCTYPE html>
<html lang="en" ng-app="orderDetails">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title>GrubMeNow Order</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script src="orderDetailsController.js"></script>
<style type="text/css">
    .bs-example {
    	margin: 20px;
    }
    
    .logoImage {
		margin-bottom: 20px;
    }
    .zipForm {
		margin: 20px;
    }
    
    body {
		background:#e9e8e4 url(img/bg-grid.png);
    }
    
    @-ms-viewport {
		width: device-width;
    }
    
    .formElem {
		display: inline-block !important;
		width: 200px;
    }
        
    .cbTitle {
		padding-top: 2px;
    }
    
    .upperHeader {
    	background:#aaa;
    	display: inline-block !important;
		width: 100%;
    }
    
    .lowerBox {
    	background:#eee;
    	display: inline-block !important;
		width: 100%;
    }
    
    body {
		background-color: #FFFFFF;
		color: black;
		font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode",
			"Luxi Sans", Tahoma, sans-serif;
		margin: 0;
		padding: 0;
	}	
        
</style>
</head>
<body>
<div class="food-finder text-center" ng-controller="orderDetailsController">
    <div class="container">
		<img src="logo.png" class="logoImage"/>
		<br>
		<div class="upperHeader">
			<div style="display: block; float: left; padding-right: 100px">
			  <span>Order Date</span>
			  <br/>
			  <span>{{getCustomerOrderResponse.customerOrder.orderCreationDate}}</span>
			</div>
			
			<div style="display: block; float: left; padding-right: 100px">
			  <span>Order Amount</span>
			  <br/>
			  <span>{{getCustomerOrderResponse.customerOrder.orderAmount.currency}} {{customerOrder.orderAmount.value}}</span>
			</div>

			<div style="display: block; float: left; padding-right: 100px">
			  <span>Order Status</span>
			  <br/>
			  <span>{{getCustomerOrderResponse.customerOrder.orderState}}</span>
			</div>
			
			<div style="display: block; float: left; padding-right: 100px">
			  <span>Order Delivery</span>
			  <br/>
			  <span>{{getCustomerOrderResponse.customerOrder.deliveryMethod}}</span>
			</div>
			
			<div style="display: block; float: right;">
			  <span>Order Id</span>
			  <br/>
			  <span>{{getCustomerOrderResponse.customerOrder.orderId}}</span>
			</div>
		</div>
		<div class="lowerBox">
			<table style="width: 100%">
				<tr>
					<td>
		              	<span style="float: left; font-size: 16px; padding-bottom: 5px"> Item </span>
		            </td>
					<td>
	              		<span style="float: left; font-size: 16px; padding-bottom: 5px"> Quantity </span>
		            </td>
					<td>
		              	<span style="float: right; font-size: 16px; padding-bottom: 5px"> Amount </span>
		            </td>
		        </tr>
			
				<tr ng-repeat="orderItem in getCustomerOrderResponse.customerOrderItems">
					<td>
		              	<span style="float: left"> {{orderItem.foodItem.foodItemName}} </span>
		            </td>
					<td>
		              	<span style="float: left"> {{orderItem.quantity}} </span>
		            </td>
					<td>
		              	<span style="float: right"> {{orderItem.orderItemAmount.currency}} {{orderItem.orderItemAmount.value}} </span>
		            </td>
		        </tr>
		        <tr>
					<td>
		              	
		            </td>
					<td>
		              <span style="float: right; font-style: italic;"> Tax @ 9.5% </span>
		            </td>
					<td>
		              <span style="float: right"> {{getCustomerOrderResponse.customerOrder.taxAmount.currency}} {{getCustomerOrderResponse.customerOrder.taxAmount.value}} </span>
		            </td>
		        </tr>
		        <tr>
					<td>
		              	
		            </td>
					<td>
		              	 <span style="float: right;"> <b>Total</b> </span>
		            </td>
					<td>
		              	<span style="float: right"> {{getCustomerOrderResponse.customerOrder.orderAmount.currency}} {{getCustomerOrderResponse.customerOrder.orderAmount.value}}</span>
		            </td>
		        </tr>
			</table>
		</div>
		
			
		<div>
			 <div class="starRate">
			 	<form>

				 <input style="float: left" type="radio" name="rating" value="5" ng-model="review.rating"> <span style="float: left">Awesome </span><br>
			 	 <input style="float: left" type="radio" name="rating" value="4" ng-model="review.rating"> <span style="float: left">Good </span><br>
			 	 <input style="float: left" type="radio" name="rating" value="3" ng-model="review.rating"> <span style="float: left">Ok </span><br>
			 	 <input style="float: left" type="radio" name="rating" value="2" ng-model="review.rating"> <span style="float: left">Could have been better </span><br>
				 <input style="float: left" type="radio" name="rating" value="1" ng-model="review.rating"> <span style="float: left">Not Satisfactory </span> <br>
				 <textarea name="feedback" style="width: 100%; font-size: 12px"  ng-model="review.feedback"></textarea>
				 
	  		    <span style="float: right"><button ng-click="submitFeedback(review)" class="btn btn-primary">Submit Feedback</button></span>

			 	</form>
			</div>
		</div>
		
	</div>

</div>

</body>
</html>     
