<div class="rest-sel" ng-controller="RestuarantCtrl">
    <div class="clearfix"></div>
    <div ng-show="!chefsLoaded" class="spinner"></div>
    <div ng-show="chefsLoaded">
        <div class="col-xs-6 text-left  optionsText navLineBtn">{{restList.providerFoodItemOffers.length}} chef(s) providing '{{foodItem.foodItemName}}' for {{availableDay}} - {{restList.formattedOfferDay}}</div>
        <div class="col-xs-6 text-right" ng-click="backToSearch()">
            <button type="button" class="btn btn-link showhideBtn optionsText">
                <span class="glyphicon glyphicon-chevron-left"></span> Back
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
    <p />

    <div class="panel-group" id="accordion" ng-show="chefsLoaded">
        <div class="panel panel-primary" ng-repeat="rest in restList.providerFoodItemOffers" provider-repeat-directive>
            <a data-toggle="collapse" data-parent="#accordion" ng-click="collapse($index)" class="panelLink">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span style="font-size: 16px">
                          {{rest.provider.providerName}}
                        </span>
                        <br/>
                    	<span >
                    	   <span class="stars">{{rest.provider.rating}}</span>
                    	</span>
                    	
                    	<span ng-show="rest.distanceInMiles != 0" class="distanceInfoText">
	                    	   around {{rest.distanceInMiles}} miles near {{rest.provider.zipCode}}
                    	</span>   
                    	
                    	<span ng-show="rest.distanceInMiles == 0" class="distanceInfoText">
                    		<span style="font-size: 10px">
	                    	   In your area near
	                    	</span>
	                    	<span style="font-size: 13px; font-weight: bold;" >
	                    	   {{rest.provider.zipCode}}
	                    	</span>
                    	</span>
                    	   
                    </span>
                </div>
            </a>
            <div id="collapse{{$index}}" class="panel-collapse collapse" ng-class="{in:$index==0}">
                <div class="panel-body boxLimit">
                    <div class="tableCtr">
						<div class="col-xs-3 col-sm-2 col-md-1 foodItemOfferLayout thumbnail-small">
                              <img src="{{restList.foodItem.foodItemImageUrl}}"/>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-8  foodItemOfferLayout">
                            <div class="foodTitle">{{restList.foodItem.foodItemName}}</div>
                            <div class="foodDesc text-muted">{{restList.foodItem.foodItemDescription}}</div>
                            <div class="foodItemOfferDesc text-info">{{rest.foodItemOffer.offerDescription}}
	                            <span ng-repeat="tag in rest.foodItemOffer.offerTags" class="foodItemOfferTags">
                                    {{tag}}
	                            </span>
                            </div>
                            <div class="foodPrice noBold">${{rest.foodItemOffer.price.value / 100 | number:2}}</div>
                        </div>

                        <div class="col-xs-2 col-sm-3 col-md-3 foodItemOfferLayout text-right">
                            <span style="float: right"> 
                                <select class="form-control qtyBox" id="primaryQty{{$index}}" ng-model="restList.foodItem.foodItemQty">
                                    <option ng-show="{{i}} <= rest.foodItemOffer.availableQuantity" data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" value={{i}}>{{i}}</option>
                                </select> 
                            </span>
                            <div ng-if="rest.foodItemOffer.availableQuantity < 10" style="color: maroon; font-size: 10px; clear: both">
                                Hurry, {{rest.foodItemOffer.availableQuantity}} items left !
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <p />	
                        
                        <div class="col-xs-12 text-left">
                            <button type="button" id="showMore{{$index}}" ng-show="!showRestMenu[rest.provider.providerId]" class="btn btn-link showhideBtn optionsText" 
                                    ng-click="showMenu(rest.provider.providerId, foodItem.foodItemId)">
                                More from this chef <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <button type="button" id="showMore{{$index}}" ng-show="showRestMenu[rest.provider.providerId]" class="btn btn-link showhideBtn optionsText" ng-click="showRestMenu[rest.provider.providerId]=0">
                                Hide <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                        </div>

                        <div class="col-xs-8" ng-show="showRestMenu[rest.provider.providerId] && restMenu[rest.provider.providerId].providerFoodItemOffers.length == 0">
                       	 	<span style="font-size: 12px; font-style: italic;">Sorry, no other offering from <b>'{{rest.provider.providerName}}'</b> at this time.</span> 
                        </div>
                        
                        <div ng-repeat="restMenuItem in restMenu[rest.provider.providerId].providerFoodItemOffers" ng-show="showRestMenu[rest.provider.providerId] && (restMenuItem.foodItemOffer.foodItemOfferId != '{{rest.foodItemOffer.foodItemOfferId}}')">
                            <div class="col-xs-3 col-sm-2 col-md-1 foodItemOfferLayout thumbnail-small">
                                <img src="{{restMenuItem.foodItem.foodItemImageUrl}}"/>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-8 foodItemOfferLayout">
                                <div class="foodTitle">{{restMenuItem.foodItem.foodItemName}}</div>
                                <div class="foodDesc text-muted">{{restMenuItem.foodItem.foodItemDescription}}</div>
                                <div class="foodItemOfferDesc text-info">{{restMenuItem.foodItemOffer.offerDescription}}
                                    <span ng-repeat="tag in restMenuItem.foodItemOffer.offerTags" class="foodItemOfferTags">
                                        {{tag}}
                                    </span>
                                </div>
                            	<div class="foodPrice noBold">${{restMenuItem.foodItemOffer.price.value / 100 | number:2}}</div>
                                <div ng-if="restMenuItem.foodItemOffer.availableQuantity < 10" style="color: maroon; font-size: 10px">
                                    Hurry, {{restMenuItem.foodItemOffer.availableQuantity}} items left !
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-3 col-md-3 foodItemOfferLayout">
                                <span style="float: right"> 
                            	    <select style="display: inline;" class="form-control qtyBox" id="menuQty{{$index}}" ng-model="restMenuItem.foodItem.foodItemQty">
                                	   <option ng-show="{{i}} <= restMenuItem.foodItemOffer.availableQuantity" data-ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value={{i}}>{{i}}</option>
                                    </select>
                                </span>
                            </div>
                            
                            <div class="clearfix"></div>
                            <p />
                        </div>
                        <div class="clearfix"></div>
                        <p />
                        <div class="col-xs-12 text-right atcButton">
                            <span class="totalInfo"><strong>Total: {{getTotalItems($index)}} items @ ${{getTotalPriceInCents($index)/100 | number:2 }} &nbsp;</strong></span> <input type="button" class="btn btnGo" ng-click="getFinalOrder($index)" id="checkoutButton" value="Checkout" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
