<div class="food-finder text-center" ng-controller="SearchFormCtrl">
	<div class="clearfix"></div>
	<div class="formContainer">
	<div class="hidden-xs filler"></div>
	<div class="visible-xs fillerxs"></div>
	<div class="col-xs-12 text-center">
		<div class="formBox">
		<form class="form-inline" role="form" novalidate>
			<div class="form-group">
            	<input type="text" class="form-control formElem" id="inputZipcode" placeholder="Enter your zipcode" ng-model="location.zipCode" maxlength="5" ng-class="{redBorder:badZipcode==1}">
	   		</div>
	   		<div class="form-group">
	   			<select class="form-control formElem" ng-class="{redBorder:badRadius==1}" id="inputRadius" ng-model="location.radius">
		        	<option value=0>Search Radius</option>
		        	<option value=5 >Within 5 miles</option>
		        	<option value=10>Within 10 miles</option>
		        	<option value=25>Within 25 miles</option>
		    	</select>
		    </div>
		    <div class="form-group">
	   			<select class="form-control formElem" ng-class="{redBorder:badDay==1}" id="inputDay" ng-model="location.availableDay">
		        	<option value=0>When do you want it?</option>
		        	<option value=Today>Today</option>
		        	<option value=Tomorrow>Tomorrow</option>
		    	</select>
		    </div>
	   		<button ng-click="update(location)" class="btn btnGo">Go</button>
	   	</form>
	   	</div>
	</div>
	</div>
	<div class="clearfix"></div>
    <h3 ng-show="badRadius || badZipcode || badDay" class="spacer">Please enter all the required fields</h3>
	<h3 ng-show="searching" class="spacer">Finding delicious food within {{master.radius}} miles of {{master.zipcode}} ...</h3>
	
    <div class="container spacer">
        <div class="row">
            <div class="col-lg-3 col-sm-4 col-xs-12" ng-repeat="foodItem in master.food" id="searchResults">
                <div class="thumbnail">
                    <a href="index.html#/chefs?id={{foodItem.foodItemId}}&availableDay={{master.availableDay}}"><img src="{{foodItem.foodItemImageUrl}}" alt="{{foodItem.foodItemName}}">
                    <div class="caption">
                        <h4>{{foodItem.foodItemName}}</h4>
                        <p>{{foodItem.foodItemDescription}}</p>
                    </div>
		    </a>
                </div>
            </div>
    	</div>
    </div>
    
    <div class="container spacer">
	    <div ng-show="searchedOnce" class="text-left">
	    	<h4>Search Feedback</h4>
			Did you find what you were looking for?
			<div class="btn-toolbar">
	  			<button ng-click="openFeedbackForm()" class="btn btn-secondary">Yes</button> &nbsp;
	  			<button ng-click="openSearchSuggestionForm()" class="btn btn-secondary">No</button>
			</div>
			<div ng-show="showFeedbackForm" id="generalFeedbackForm">
			    <b>Leave us some comments about your search; your comments will help make our site better for everyone.</b>
				<input type="text" class="form-control formElem"  ng-model="feedback.generalFeedback" placeholder="Your feedback goes here" style="width:50%"></input>
				<button ng-click="submitFeedbackForm()" class="btn btn-secondary">Submit</button>
			</div>
			<div ng-show="showFoodItemSuggestionForm" id="searchSuggestionForm">
			    <b>Leave us some comments about food items you were looking for; your comments will help make our site better for everyone.</b>
				<input type="text" class="form-control formElem"  ng-model="feedback.newItems" placeholder="comma separated food items you are looking for" style="width:40%"></input>
				<input type="text" class="form-control formElem"  ng-model="feedback.emailId" placeholder="emailId" style="width:40%"></input>
				<button ng-click="submitFoodItemSuggestionForm()" class="btn btn-secondary">Submit</button>
			</div>
			<div ng-show="showThankYouMessage" class="text-left" id="thankYouMessage">
				Thank you for your feedback!
			</div>
		</div>
	</div>
</div>
 
