<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}

</style>
</head>
Hello <b>${request.consumer.customerFirstName}</b>, 
<br/>
Thank you for your MealLocal order. Your order id is <a href="http://meallocal.com/#/orderDetails?orderId=${request.customerOrder.orderId}"><b>${request.customerOrder.orderId}</b></a>.
<p/>
Your order summary: 
<table>
<tr>
	<th>Name</td>
	<th>Description</td>
	<th>Item Quantity</td>
	<th>Item price</td>
</tr>
#foreach( $orderItem in ${request.orderItems} )
<tr>
	<td> ${orderItem.foodItemName}  </td>
	<td> ${orderItem.foodItemDescription} </td>
	<td> ${orderItem.foodItemQuantity} </td>
	<td> $Formatter.formatAmount(${orderItem.foodItemTotalPrice}) </td>
</tr>
#end
</table>
<br/>
<b> Payment method </b>: $Formatter.formatEnum(${request.customerOrder.paymentMethod})
<br/>
<b> Order total </b>: $Formatter.formatAmount(${request.orderAmountTotal})
<br/>
<br/>
 Click <a href="http://meallocal.com/#/orderDetails?orderId=${request.customerOrder.orderId}">here</a> to <b>provide feedback</b> and see detail of your order.
<br/>
<br/>
Please pick up your order between <b>${request.orderPickupStartTime} and ${request.orderPickupEndTime} on $Formatter.formatDate(${request.orderFulfillmentDate})</b> from this location:
<br/>
#set($pickUpAddressText = "$Formatter.formatAddressFirstLine(${request.provider}) $Formatter.formatAddressLastLine(${request.provider})")
${request.provider.providerName}<br/>
<a href="http:///maps.google.com/maps?q="$pickUpAddressText">
$Formatter.formatAddressFirstLine(${request.provider})<br/>
$Formatter.formatAddressLastLine(${request.provider})
</a>
#if (${request.provider.providerPhoneNumber})
<br/>Phone: ${request.provider.providerPhoneNumber}
#end
<p/>

If you'd like to cancel your order, please call MealLocal Customer Service at +1 203-699-MEAL(6325) by 6PM on $Formatter.formatDate(${request.orderFulfillmentDate}).<br/>

Thank you,<br/> 
MealLocal team. <br/>
For Customer Service call +1 203-699-MEAL(6325) 11AM-9PM PT daily
</html>
